body {
  background-color: #1d2935;
}

.title {
  text-align: center;
  color: #fff;
}

.box {
  background-color: #fdfdfd;
  width: 400px;
  height: 350px;
  border-radius: .75em;
  margin: 0 auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                 0 1px 18px 0 rgba(0, 0, 0, 0.12),
                 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);

}

.box:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                  0  6px 30px 5px rgba(0, 0, 0, 0.12),
                  0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

.quote {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  margin: 0 20px;
}

.button-box {
  text-align:center;
  margin-top:0px;
  height:30px;

 }

.content {
  width: 400px;
  margin: 0 auto;
}

.credit {
  color: white;
  position: absolute;
   bottom: 0;

}

a {
  color: white;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
  text-decoration: none;
}

#author {
  font-size: 18px;
  float: right;
  margin-right: 20px;
}

.btn-outline-primary {
  border-color: #fff;
  color: #fff;
}

.btn-outline-primary:hover {
  border-color: #fff;
  color: #1d2935;
  background-color: #fff;
}

#text {
  font-size: 30px;
}
